@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  background: #E2E0DD;   /* #F3FFF6; #E2E0DD*/
}


header {
    background: #fff;
    padding: 2em 0;
}
p {
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
  .copy-over-img {
    position: absolute;
	  bottom: 0;
    background: white;
    /* display: block; */
    width: 100%;
    /* padding: 10px; */
  }
  h2 {
    bottom: 250px;
    left: 75px;
    width: 100%;
  }
  .caption {
    position: absolute;
    bottom: 80px;
    padding-left: 40px;
  }
  h2 span{
    color: #fff;
    font: bold 24px/45px 'Work Sans', sans-serif;
    background: rgba(57, 86, 54, 0.8);
    padding: 10px;
  }
  h1, h2, h3, h4, h5, h6 {
    font: bold  'Work Sans', sans-serif;
  }

a {
    color: #1e831e;
  }

/* .container {
  width:1000px; ;
} */

  #myBtnContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}
  .btn {
  font-family: 'Work Sans', sans-serif;
  font-size: .9rem;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 12px 16px;
  color:beige ;
  background-color:#1E301E;
  border-radius: 8px;
}
/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #8E7150;
  color: #fff;
}

.btn a {
  color: #fff;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color:darkolivegreen;
  color:white;
}

iframe {
  width: 420px;
 }
 
 .wrap {
   height: auto !important;
   white-space: unset !important;
   width: 100%
 }

.news {
    width: 900px;
    margin: 0 auto;
}


blockquote {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #1e831e;
  text-align: center;
  margin: 2rem 4rem;
}


figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  padding: 20px 0;
}


figcaption {
  font-size:.75rem ;
  font-style: oblique;
  margin-left: 50px;
  text-align: center;
}

.mainimg { 
  padding-top: 20px;
}

.articleimg { 
  width: 50%;

}
