@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald&family=Tinos:ital,wght@1,700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  background: #E2E0DD;   /* #F3FFF6; #E2E0DD*/
}


header {
    background: #fff;
    padding: 2em 0;
}
p {
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
  .copy-over-img {
    position: absolute;
	  bottom: 0;
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #f5f5f5;
  }

  .herocredit   {
    font-size: .6rem;
    color: #fff;
    position:absolute;
	  bottom: 0;
    display: block;
    margin-left: 85%;
    padding: 10px;
    background: rgba(57, 86, 54, 0.8);
  }

  h2 {
    bottom: 250px;
    left: 75px;
    width: 100%;
  }
  .caption {
    position: absolute;
    bottom: 80px;
    padding-left: 40px;
  }
.photocred {
  font-size: .75rem;;
}


  h2 span{
    color: #fff;
    font: bold 24px/45px 'Work Sans', sans-serif;
    background: rgba(57, 86, 54, 0.8);
    padding: 10px;
  }
  h1, h2, h3, h4, h5, h6 {
    font: bold  'Work Sans', sans-serif;
  }

  a {
    color: #1e831e;
  }
  
#workshop {
    padding: 1rem 1.5rem;
}

  #buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}
  .btn  {
  font-family: 'Work Sans', sans-serif;
  font-size: .9rem;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 12px 16px;
  color:beige ;
  background-color:#1E301E;
  border-radius: 8px;
  text-decoration: none ;
}

.botondl  {
  font-family: 'Work Sans', sans-serif;
  color:#1E301E ;
  background-color:beige;
  border-radius: 8px;
  text-decoration: none ;
  border: none;
  font-size: .9rem;
  font-weight: bold;
}


.sharethis-inline-share-buttons[data-network] {   
  font-family: 'Work Sans', sans-serif;
  font-size: .9rem;
  border: none;
  background-color:#1E301E;   
  display: inline-block;   
  padding: 12px 16px;   
  cursor: pointer;   
  font-weight: bold;   
  color:beige ;
  outline: none;
  border-radius: 8px;
  text-decoration: none ;
}

  &:hover, &:focus {            
    background-color: #00c7ff;   }
  
 
/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #8E7150;
  color: #fff;
}

.btn a {
  color: #fff;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color:darkolivegreen;
  color:white;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none;
  }

iframe {
  /* width: 420px; */
 }

 
 .wrap {
   height: auto !important;
   white-space: unset !important;
   width: 100%
 }

.news {
    width: 900px;
    margin: 0 auto;
}


blockquote {
  font-family: 'Tinos', serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #1e831e;
  text-align: center;
  margin: 2rem 4rem;
}


figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  padding: 20px 0;
}


figcaption {
  font-size:.75rem ;
  font-style: oblique;
  margin-left: 50px;
  text-align: left;
  margin-bottom: 25px;
}

.mainimg { 
  padding-top: 20px;
}

.articleimg { 
  width: 50%;
}

/* Gradient color1 - color2 - color1 */

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.filtered {
  display: none;
}
.filtered.show {
  display: block;
}